/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-android-hover {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: -36px -72px;
  width: 29px;
  height: 31px;
}
.icon-android-normal {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: -65px -72px;
  width: 29px;
  height: 31px;
}
.icon-icon_jiaoyi {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: -36px 0px;
  width: 36px;
  height: 36px;
}
.icon-icon_kucun {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: 0px -36px;
  width: 36px;
  height: 36px;
}
.icon-icon_shanghu {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: -36px -36px;
  width: 36px;
  height: 36px;
}
.icon-icon_tongji {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: -72px 0px;
  width: 36px;
  height: 36px;
}
.icon-icon_tuichu {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: -36px -108px;
  width: 16px;
  height: 16px;
}
.icon-icon_wuye {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: 0px -72px;
  width: 36px;
  height: 36px;
}
.icon-icon_xitong {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: 0px 0px;
  width: 36px;
  height: 36px;
}
.icon-icon_xiugai {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: -20px -108px;
  width: 16px;
  height: 16px;
}
.icon-icon_you {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: -108px -81px;
  width: 20px;
  height: 16px;
}
.icon-icon_yuyin {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: -72px -36px;
  width: 36px;
  height: 36px;
}
.icon-icon_zuo {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: 0px -108px;
  width: 20px;
  height: 16px;
}
.icon-ios-hover {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: -108px -57px;
  width: 18px;
  height: 24px;
}
.icon-ios-normal {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: -108px -28px;
  width: 25px;
  height: 29px;
}
.icon-user-car {
  background-image: url(spritesmith-generated/sprite.png);
  background-position: -108px 0px;
  width: 28px;
  height: 28px;
}
